#============== StrandPhaseR configuration file ===============#

[General]
numCPU  =  1 
chromosomes  =  c(22,21,20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1) 
pairedEndReads  =  TRUE 
min.mapq  =  10 

[StrandPhaseR]
positions  =  'snp_list_allChroms' 
WCregions  =  'NA12878_WC_regions_hg19_2cellsSample' 
min.baseq  =  20 
num.iterations  =  2 
translateBases  =  TRUE 
fillMissAllele  =  './NA12878_merged.bam' 
splitPhasedReads  =  TRUE 
callBreaks  =  FALSE 
exportVCF  =  FALSE 
bsGenome  =  NULL 
